@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
}

:root,
html.dark {
  --bg-color: #000000;
  --el-color-primary: rgb(79, 57, 246);
  --el-color-primary-light-3: rgba(79, 57, 246, 0.8);
  --el-color-primary-dark-2: rgb(57, 39, 180);
}

:root {
  --bg-color: #f5f5f5;
  --el-color-primary: rgb(79, 57, 246);
}